@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-Payment" data-toggle="pill" href="#Payment" role="tab" aria-controls="Payment" aria-selected="true"><b>Payment</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-PaymentList" data-toggle="pill" href="#PaymentList" role="tab" aria-controls="PaymentList" aria-selected="false"><b>Payment List</b></a>
                </li>
            </ul>
            <div class="tab-content pt-3" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="Payment" role="tabpanel" aria-labelledby="tab-Payment">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <div id="loader" style="display:none;"></div>
                                    <h3 class="card-title">Payment Voucher</h3>
                                    <button class="btn btn-primary btn-link" id="addPaymentRowBtn" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px; float:right"> <i class="fa-solid fa-plus"></i></button>
                                </div>
                                
                                <div class="card-body">
                                   
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Payment Mode</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="PaymentMode">
                                                    <option value="Cash" selected>Cash</option>
                                                    <option value="Bank">Bank</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Bank</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="ddlBankId">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Chq No/DD No</label>
                                                <input type="text" class="form-control" name="ChqNo">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Chq No/DD Date</label>
                                                <div class="input-group  date" id="reservationdate4" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate4" name="ChqDate" />
                                                    <div class="input-group-append" data-target="#reservationdate4" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Voucher Date</label>
                                                <div class="input-group  date" id="reservationdate3" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate3" name="VoucherDate" />
                                                    <div class="input-group-append" data-target="#reservationdate3" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Voucher No</label>
                                                <input type="text" class="form-control" disabled name="VoucherNo">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table" id="tblPayment">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80%;">Payment</th>
                                                        <th style="width: 20%;">Dr</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Narration:</label>
                                                <textarea class="form-control" rows="3" placeholder="Enter ..." name="Narration"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer clearfix">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="float:right">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="PaymentList" role="tabpanel" aria-labelledby="tab-PaymentList">
                    <div class="card card-primary card-outline">
                        <div class="card-header ">
                            <i class="fa-solid fa-file-invoice"></i>
                            Payment List
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loader" style="display:none;"></div>
                                    <div class="tblPaymentList" id="example2_wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- /.content -->
</div>
@section additionalScripts {
    <script src="~/scripts/FormScript.js"></script>
    <script src="~/viewscripts/accounting/payment.js"></script>
    <script>
        $('#reservationdate3').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}