@{
    ViewData["Title"] = "Transfer";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

        </div>
    </section>
    <!-- /.content -->
</div>

@await Html.PartialAsync("_FooterScript")
<script src="~/scripts/FormScript.js"></script>
<script src="~/viewscripts/accounting/transfer.js"></script>