@{
    ViewData["Title"] = "CompanyDetails";
    Layout = "_Layout";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Company Info Branch Wise</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class=" nav-icon fa-solid fa-user-gear"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="CompanyName" id="" name="Name" tabindex="1">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-building"></i></span>
                                        </div>

                                        <input type="text" class="form-control" id="" placeholder="Branch" name="Branch" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-globe"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="" placeholder="State" name="State" tabindex="2">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="" placeholder="ContactNo" name="ContactNo" tabindex="3">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="" placeholder="Email" name="Email" tabindex="4">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="" placeholder="GstNo" name="GstNo" tabindex="5">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-file"></i></span>
                                        </div>
                                        <input type="file" class="form-control" id="" placeholder="UploadLogo" name="logo" tabindex="6">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                                        </div>
                                        <textarea type="text" class="form-control" placeholder="Enter Adress" name="Address" tabindex="7"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" id="btnSave" class="btn btn-primary">Sumbit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section additionalScripts {
<script src="~/scripts/FormScript.js"></script>
<script src="~/viewscripts/admin/companydetails.js"></script>
}