@{
    Layout = "_Layout";
    ViewData["Title"] = "Labour Rate";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Labour Rate Setup
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Date</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="date" tabindex="1" />
                                    <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Product Types</label>
                                <select class="form-control  select2bs4" style="width: 100%;" name="ProductTypeId" tabindex="2">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Product</label>
                                <select class="form-control  select2bs4" style="width: 100%;" name="ItemId" tabindex="2" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Rate</label>
                                <input type="text" class="form-control" id="txtRate" name="Rate" tabindex="3">
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-10"></div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label></label>
                                <button type="button" tabindex="4" class="btn btn-block btn-outline-primary btn-labourrate-create "><b>Submit</b></button>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div id="loader" style="display:none;"></div>
                            <div class="tblLabourRate">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>
@await Html.PartialAsync("_FooterScript")
<script src="~/scripts/FormScript.js"></script>
<script src="~/viewscripts/admin/labourrateconfig.js"></script>
<script>
    $('#reservationdate').datetimepicker({
        format: 'DD/MM/YYYY'
    });
</script>

