@{
    Layout = "_Layout";
    ViewData["Title"] = "Product";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Product Setup
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card card-primary card-outline" style="background:#C7C9DC">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Product Type</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="ProductTypeId" tabindex="1">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Group</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="ProductGroupId" tabindex="2" disabled>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-link cust-btn" id="btnGrupAdd" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"> <i class="fa-solid fa-plus"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnGrupEdit" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-edit"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnGrupDelete" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#FF0000; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sub Group (Optional)</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="ProductSubGroupId" tabindex="3" disabled>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-link cust-btn" id="btnSubGroupAdd" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"> <i class="fa-solid fa-plus"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnSubGroupEdit" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-edit"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnSubGroupDelete" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#FF0000; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Product Name</label>
                                        <input type="text" class="form-control" id="" name="ProductName" tabindex="4">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <select class="form-control select2bs4" style="width: 100%;" name="ProductUnitId" tabindex="5">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-primary btn-link cust-btn" id="btnUnitAdd" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"> <i class="fa-solid fa-plus"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnUnitEdit" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-edit"></i></button>
                                    <button class="btn btn-primary btn-link cust-btn" id="btnUnitDelete" style="margin-top: 32px !important;border: 0px;color: #fff; background-color:#FF0000; border-color: #3C8DBC; border-radius: 4px;"><i class="fa-solid fa-trash-can"></i></button>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">Price</label>
                                        <input type="text" class="form-control" id="" value="0" name="Price" tabindex="6">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="">GST%</label>
                                        <input type="text" class="form-control" value="0" id="" name="GST" tabindex="7">
                                    </div>
                                </div>
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label></label>
                                        <button type="button" tabindex="8" class="btn btn-block btn-outline-primary btn-product-create" style="float:right"><b>Submit</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="loader" style="display:none;"></div>
                    <div class="card card-primary card-outline" style="background:#C7C9DC">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tbProduct">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!---------------------------------------------------------------------------------------------------------------------------->
<!--Modal Add Product Type-->
<div class="modal fade" id="modal-add-productType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Product Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Product Type</label>
                            <input type="text" class="form-control" id="" name="mdlProductTypeAdd">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary ProductTypeAdd">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Add Product Type-->
<!--Modal Update Product Type-->
<div class="modal fade" id="modal-edit-productType">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Product Tpe</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlProductTypeId" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" id="" name="mdlProductTypeEdit">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary productTypeEdit">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Update Product Type-->
<!--Modal Add Unit-->
<div class="modal fade" id="modal-add-unit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Unit Name</label>
                            <input type="text" class="form-control" id="" name="mdlUnitAdd">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary unitAdd">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Add Unit-->
<!--Modal Update Unit-->
<div class="modal fade" id="modal-edit-unit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Unit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlUnitId" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" id="" name="mdlUnitName">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary mdlUnitUpdate">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Update Unit-->
<!--Modal Add Group-->
<div class="modal fade" id="modal-add-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" id="" name="mdlGroupAdd">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary groupAdd">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Add Group-->
<!--Modal Update Group-->
<div class="modal fade" id="modal-edit-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlGroupId" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" id="" name="mdlGroupEdit">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary groupUpdate">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Update Group-->
<!--Modal Add SubGroup-->
<div class="modal fade" id="modal-add-subGroup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Sub Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>SubGroup Name</label>
                            <input type="text" class="form-control" id="" name="mdlSubGroupAdd">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary subGroupAdd">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Add SubGroup-->
<!--Modal Update SubGroup-->
<div class="modal fade" id="modal-edit-subGroup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update SubGroup</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlSubGroupId" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Group Name</label>
                            <input type="text" class="form-control" id="" name="mdlSubGroupEdit">
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary subGroupUpdate">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Update SubGroup-->
<!--Modal Product Details-->
<div class="modal fade" id="modal-edit-Product">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlProductId" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Type</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlProductType">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Product Name</label>
                            <input type="text" class="form-control" name="mdlProductName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Unit</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlUnit">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Group</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlGroup">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub Group</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlSubGroup">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Price</label>
                            <input type="text" class="form-control" name="mdlPrice">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">GST</label>
                            <input type="text" class="form-control" name="mdlGst">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-product-update">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.end Modal Product Details-->
<!---------------------------------------------------------------------------------------------------------------------------->
@await Html.PartialAsync("_FooterScript")
<script src="~/scripts/FormScript.js"></script>
<script src="~/viewscripts/admin/productsetup.js"></script>

