@{
    Layout = "_Layout";
    ViewData["Title"] = "Labour Master";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Labour Setup
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Labour Type</label>
                                <select class="form-control  select2bs4" style="width: 100%;" name="LabourTypeId" tabindex="1">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Labour Name</label>
                                <input type="text" class="form-control" id="txtLabourName" tabindex="2">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Phone No</label>
                                <input type="text" class="form-control" id="txtPhone" tabindex="4">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" class="form-control" id="txtAddress" tabindex="3">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="">Reference</label>
                                <input type="text" class="form-control" id="txtReference" tabindex="5">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" tabindex="8" class="btn btn-primary btn-labourdetail-create " style="float:right">Submit</button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12 ">
                            <button class="btn btn-primary btn-link cust-btn" id="btnRefresh" style="float:right;border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"> <i class="fa-solid fa-arrows-rotate"></i>Refresh</button>
                            <div id="loader" style="display:none;"></div>
                            <div class="tblLabourDetail">
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>

@section additionalScripts {
    <script src="~/scripts/FormScript.js"></script>
    <script src="~/viewscripts/master/labourmaster.js"></script>
    <script>
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}

